<%# binding.pry %>

<h1><%= @pirate.name %>: </h1>
<h2>Weight: <%= @pirate.weight %></h2>
<h2>Height: <%= @pirate.height %></h2>


<% @ships.each do |ship| %>
<h2><%= ship.name %>: </h2>
<h3>Weight: <%= ship.type %></h3>
<h3>Height: <%= ship.booty %></h3>
<% end %>



